@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}

a {
  text-decoration: none;
  color: black;
}

.apps-icon {
  width: 40px;
}

.profile-icon {
  width: 35px;
  border-radius: 50%;
}
