@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  text-align: center;
}

nav {
  margin: 15px;
}

ul {
  list-style-type: none;
}

.nav-top-left {
  float: left;
  margin: 6px 0 0 -30px;
}

.nav-top-right {
  text-align: right;
}

li {
  display: inline;
  padding: 10px;
}

a {
  text-decoration: none;
  color: black;
}

p > a {
  color: rgb(41, 15, 189);
}

.apps-icon {
  width: 30px;
}

.profile-icon {
  width: 33px;
  border-radius: 50%;
}

div {
  position: relative;
  width: 600px;
  display: block;
  margin: 0 auto;
  margin-top: 100px;
}

.logo {
  padding: 25px;
}

#searchbar {
  display: block;
  width: 555px;
  height: 45px;
  margin: 0 auto;
  margin-bottom: -30px;
  padding: 20px;
  border-color: #d8d8d8;
  border-radius: 50px;
  background-image: url("https://www.freepnglogos.com/uploads/search-png/search-icon-transparent-images-vector-16.png");
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 18px;
}

input:hover {
  -webkit-box-shadow: 1px 2px 2px 2px rgb(214, 214, 214);
  -moz-box-shadow: 1px 2px 2px 2px rgb(214, 214, 214);
  box-shadow: 1px 2px 2px 2px rgb(214, 214, 214);
  border: rgb(165, 165, 165);
}

#voice-search > img {
  position: relative;
  margin: -28px 0 0 495px;
  width: 40px;
}

.btn {
  margin: 0 4px 20px 5px;
  font-size: 14px;
  color: #474747;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-width: 600px;
  padding-right: 20px;
  background-color: #f1f1f1;
  height: 50px;
}

.footer {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.footer-content {
  color: #696969;
  font-size: 14px;
}
