@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  text-align: center;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}

a {
  text-decoration: none;
  color: black;
}

.apps-icon {
  width: 40px;
}

.profile-icon {
  width: 35px;
  border-radius: 50%;
}

div {
  position: relative;
  width: 600px;
  display: block;
  margin: 0 auto;
  margin-top: 100px;
}

input {
  display: block;
  width: 400px;
  height: 45px;
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 20px;
}
