@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  text-align: center;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}

a {
  text-decoration: none;
  color: black;
}

.apps-icon {
  width: 40px;
}

.profile-icon {
  width: 35px;
  border-radius: 50%;
}

div {
  position: relative;
  width: 600px;
  display: block;
  margin: 0 auto;
  margin-top: 100px;
}

.logo {
  padding: 25px;
}

#searchbar {
  display: block;
  width: 555px;
  height: 45px;
  margin: 0 auto;
  margin-bottom: -30px;
  padding: 20px;
  border-color: #d8d8d8;
  border-radius: 50px;
  background-image: url("https://www.freepnglogos.com/uploads/search-png/search-icon-transparent-images-vector-16.png");
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 18px;
}

#voice-search > img {
  position: relative;
  margin: -28px 0 0 495px;
  width: 40px;
}

button {
  margin: 0 4px 20px 5px;
}
